<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Symfony Frontend Performance Demo Site</title>

        {% include 'DbuCoreBundle::stylesheets.html.twig' %}

        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body>
        <div id="container">

        <div id="header">
            {% block header %}
            <div class="inline">

                <ul class="top_nav">
                    <li><a class="backlink" href="http://www.liip.ch">www.liip.ch</a></li>
                    <li class=login>
                        {% render 'DbuCoreBundle:User:showLoginBox' with {}, {'standalone': true} %}
                    </li>
                </ul>

                <a href="/"><span class="sprite logo"></span></a>
            </div>
            {% endblock %}
        </div>

        <div id="featured">
            <div class="inline">
                <h2>
                    Featured
                    <a class="sprite rss-feed" href="http://feeds.liip.ch/rocketlab_events"><span><abbr title="Really Simple Syndication">RSS</abbr> feed</span></a>
                </h2>


                <div class="box " onclick="window.location.href='http://symfony.com/doc/current/cookbook/assetic/asset_management.html'">
                    <a href="http://symfony.com/doc/current/cookbook/assetic/asset_management.html" class="title">Assetic for Asset Management</a>
                    <p>
                        by Kris Wallsmith</p>
                    <span class="sprite featuredbox-arrow"></span>
                </div>

                <div class="box " onclick="window.location.href='https://www.varnish-cache.org/'">
                    <a href="https://www.varnish-cache.org/" class="title">Varnish web accelerator</a>
                    <p>
                        by Varnish Software AS</p>
                    <span class="sprite featuredbox-arrow"></span>
                </div>

                <div class="box edge" onclick="window.location.href='https://github.com/liip/LiipCacheControlBundle'">
                    <a href="https://github.com/liip/LiipCacheControlBundle" class="title">Liip CacheControl Bundle</a>
                    <p>
                        by Lukas K Smith, David Buchmann and others</p>
                    <span class="sprite featuredbox-arrow"></span>
                </div>

                <br class="clear"/>
            </div>
        </div>

        <div id="body" class="bg-body">
            <div class="inline">
                <div id="content">
                    {% block searchbox %}
                        <div id="quicksearch">
                            <form class="quick_search" action="#">
                                <label for="query">Search this site</label>
                                <input type="text" class="query" id="query" name="q" value="search" />
                                <input type="submit" class="button sprite search" value="Search" />
                            </form>
                        </div>

                        <div class="clear" style="margin-top: 35px;"></div>
                    {% endblock %}
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        <div id="footer">
            <div class="inner">
                {% block footer %}
                    <p>Symfony2 frontend performance optimizations<br/>Powered by Symfony2</p>
                    <a href="http://www.liip.ch" class="sprite footer-logo"></a>
                {% endblock %}
            </div>
        </div>

        </div>

        {# put javascript at the bottom:
           the browser waits with rendering the html until all files referenced before that element have been loaded
        #}
        {% include 'DbuCoreBundle::javascripts.html.twig' %}

    </body>
</html>
