/* we collect all elements with image backgrounds in this file. */
.sprite {
  display:block;
  background-repeat:no-repeat;
  background-image:url(/assets/images/sprites.png);
}
.comment {
  width:14px;
  height:13px;
}
.featuredbox-arrow {
  width:5px;
  height:9px;
}
.footer-logo {
  width:56px;
  height:21px;
}
.logo {
  width:336px;
  height:63px;
}
.rss-feed {
    height: 17px;
    width: 17px;
}
#container #body {
    background-repeat:repeat-x;
    background-image:url(/bundles/dbucore/images/bg_body.png);
}
#footer {
  background-repeat:repeat-x;
  background-image:url(/bundles/dbucore/images/bg_footer.png);
}
